<h3>Search Posts</h3>
@using (Html.BeginForm("SearchPosts", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="input-group">
        <input id="search" name="search" type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" value="Ara" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>

}

