<section class="banner_area" style="width:100%">
            <div class="banner_inner d-flex align-items-center" style="width:100%; margin-top:-100px">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="width:100%"></div>
				<div class="container" style="width:100%">
					<div class="banner_content text-center" style="width:100%">
						<h2>Contact Us</h2>
						<div class="page_link">
							<a href="~/Home/Index">Home</a>
							<a href="~/Home/Contact">Contact</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">
         
                <div class="row" style="display:block">
                    <div class="col-lg-3">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>Alsancak, Izmir</h6>
                                <p>Alsancak District</p>
                            </div>
                            <div class="info_item" style="margin:70px auto;">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a>+90 (232) 427 63 87</a></h6>
                                <p>Available between MONDAY to FRIDAY </p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a>support@utech.com</a></h6>
                                <p>Reach us anytime!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9" style="left:58px">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d195.33041834621295!2d27.14173894940467!3d38.434846367870975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1541922429200" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    

                    <div class="col-lg-12" style="top:100px">
                        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" style="rows="10">
                                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-md-center">
                                <button type="button" value="Send" class="btn submit_btn" style="margin-left:450px;">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>

                

            </div>
        </section>
